output/encoding_scores_lasso.eps
output/encoding_scores_lasso.pdf
output/encoding_scores_lasso.png
output/encoding_scores_ridge.eps
output/encoding_scores_ridge.pdf
output/encoding_scores_ridge.png

output/encoding_1*
output/encoding_2*
output/encoding_scores.eps
output/encoding_scores.png
output/lr*
output/pixel*
output/rf*
output/scores*
output/svc*

.DS_Store
__pycache__/
nilearn_data/
.README.md.swp
